<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/regis.css">
    <link rel="stylesheet" type="text/css" href="/css/heder.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/template.css">
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>

<div class="free row-sb-c">
    <div style="color: black;">aaaaaaaa</div>
    <p>Free Shipping! On All Orders.</p>
    <strong>STORE LOCATOR</strong>
</div>
<div class="h1">
    <div class="row item" style="gap: 1rem">
        <a href="/login">
            <p>sign in</p>
        </a>
        <p>or</p>
        <a href="/regis">
            <p>join now</p>
        </a>
    </div>
    <div class="item middle">
        <a href="index.html">
            <h1>STEVE MADDEN</h1>
        </a>
    </div>

    <div class="row-c item">
        <i class='bx bx-search'></i>
        <input type="text" class="input" placeholder="Search">
        <a href="/login">
            <i class='bx bx-shopping-bag' ></i>
        </a>
    </div>
</div>

<div class="h2 row-c">
    <h3>New & Now</h3>
    <h3>Shoes</h3>
    <h3>Handbags</h3>
    <h3>Sale</h3>
</div>

<div class="r1 col-c">
    <h3><strong>LOGIN</strong></h3>
    <form action="/loginVerif" method="POST">
        <div class="form col-sb">
            <h3>USERNAME*</h3>
            <input class="re" type="text" name="username">
        </div>
        <br>
        <div class="form col-sb">
            <h3>ENTER A PASSWORD*</h3>
            <input class="re" type="password" name="password">
        </div>
        <br>
        <button type="submit" class="con col-c"><h1>SIGN IN</h1></button>
    </form>
</div>
</body>
</html>
