{{template "partials/top" .}}


<style>
    .gambar{
        width: 10rem;
        height: 8rem;
    }
</style>

<h1>{{.product.ProductName}}</h1>
<h3>{{.product.ProductDescription}}</h3>
{{range .photos}}
    <img src="/{{.ImgPath}}" alt="" class="img gambar">
{{end}}

{{template "partials/bot" .}}
