{{template "partials/top" .}}

<a href="createProduct">create</a>
<a href="/wishList/{{.idUser}}">cart</a>
<a href="/history/{{.idUser}}">history</a>
<a href="/logout">Log Out</a>
<div class="c1">
    {{range .products }}
            <div class="produk">
                <a href="/produk/{{.ID}}">
                    <img src="{{.ProductImageCover}}" alt="" class="img gambar">
                </a>
                <div class="aa">
                    <h1>{{.ProductName}}</h1>
                    <form action="/insertWishlist/{{$.idUser}}/{{.ID}}" method="POST" style="display:inline;">
                        <button type="submit">🛒</button>
                    </form>
                </div>
                <p>{{.ProductDescription}}</p>
                <h2>$ {{.ProductPrice}} </h2>
    {{/*            <h2>{{.ProductStock}}</h2>*/}}

            </div>

    {{end}}
</div>

{{template "partials/bot" .}}
