{{template "partials/top" .}}

<style>
    .gambar{
        width: 10rem;
        height: 8rem;
    }
</style>

{{range .cooked}}
<p>id transaksi: {{.Transaksi.ID}}</p>
    {{range .Ditel}}
{{/*        <h1>{{.DT.ID}}</h1>*/}}
        <p>kuantiti: {{.DT.Quantity}}</p>
        <img class="img gambar" src="/{{.PC.ProductImageCover}}" alt="">
    {{end}}
{{end}}