*{
    box-sizing: border-box;
    /*font-family: 'Space Grotesk', sans-serif;*/
    font-family: "Lexend Light";


    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

.img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*transition: opacity 0.3s ease-in-out;*/
    object-fit: cover;

}


.c1{
    display: flex;
    background: yellow;
    gap: 2rem;
    padding: 2rem;
}

.produk{
    display: flex;
    flex-direction: column;
}

.aa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 2px;
}

.gambar{
    width: 10rem;
    height: 8rem;
}